opencv-python


musicbrainzngs==0.7.1
celery==5.3.6
aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
astroid==3.0.3
asttokens==3.0.0
attrs==25.4.0
Automat==25.4.16
babel==2.17.0
babelfish==0.6.1
backrefs==5.8
bandit==1.7.6
behave==1.3.3
black==23.12.1
cachetools==6.2.1
certifi==2026.1.4
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.0
colorama==0.4.6
constantly==23.10.4
coverage==7.11.0
cryptography==46.0.3
csscompressor==0.9.5
cssselect==1.3.0
cucumber-expressions==19.0.0
cucumber-tag-expressions==9.0.0
decorator==5.2.1
dill==0.4.0
distlib==0.4.0
docopt==0.6.2
durationpy==0.10
et_xmlfile==2.0.0
execnet==2.1.1
executing==2.2.1
fastapi==0.128.0
filelock==3.20.0
flake8==7.0.0
gherkin-official==29.0.0
ghp-import==2.1.0
gitdb==4.0.12
GitPython>=3.1.44
goodwe==0.2.31
google-auth==2.41.1
greenlet==3.3.1
guessit==3.8.0
h11==0.16.0
htmlmin2==0.1.13
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
hypothesis==6.92.1
identify==2.6.15
idna==3.10
incremental==24.7.2
iniconfig==2.3.0
ipython==8.18.1
isort==5.13.2
itemadapter==0.12.2
itemloaders==1.3.2
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
jsmin==3.0.1
kubernetes==28.1.0
lxml==6.0.2
Mako==1.3.10
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.2.1
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-git-revision-date-localized-plugin==1.4.5
mkdocs-material==9.6.14
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.8.0
multi_key_dict==2.0.3
mutagen==1.47.0
mypy==1.7.1
mypy_extensions==1.1.0
nodeenv==1.9.1
oauthlib==3.3.1
openpyxl==3.1.2
packaging==25.0
paginate==0.5.7
parse==1.20.2
parse_type==0.6.6
parsel==1.10.0
parso==0.8.5
pathspec==0.12.1
pbr==7.0.1
pexpect==4.9.0
platformdirs==4.3.8
pluggy==1.6.0
pre-commit==3.6.0
prompt_toolkit==3.0.52
Protego==0.5.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.11.1
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
PyDispatcher==2.0.7
pyflakes==3.2.0
Pygments==2.19.1
pylint==3.0.3
pymdown-extensions==10.15
pyOpenSSL==25.3.0
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-bdd==6.1.1
pytest-cov==7.0.0
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-timeout==2.2.0
pytest-watch==4.2.0
pytest-xdist==3.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jenkins==1.8.3
pytokens==0.2.0
pytz==2025.2
PyYAML==6.0.1
pyyaml_env_tag==1.1
queuelib==1.8.0
rebulk==3.2.0
requests==2.31.0
requests-file==3.0.1
requests-oauthlib==2.0.0
rich==13.7.0
rsa==4.9.1
ruff==0.1.9
Scrapy==2.11.0
service-identity==24.2.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sortedcontainers==2.4.0
SQLAlchemy==2.0.46
stack-data==0.6.3
starlette==0.50.0
stevedore==5.6.0
tldextract==5.3.0
tomlkit==0.13.3
traitlets==5.14.3
Twisted==25.5.0
typer==0.21.1
types-PyYAML==6.0.12.12
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==1.26.20
uvicorn==0.40.0
virtualenv==20.35.3
w3lib==2.3.1
watchdog==6.0.0
wcwidth==0.2.14
websocket-client==1.9.0
yamllint==1.33.0
zope.interface==8.1.1
